In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/finalproject/collection_process/hospital_data_with_external_factors.csv')

C:\Users\TottaraDhanush\AppData\Local\Temp\ipykernel_5660\192421259.py:1: DtypeWarning: Columns (31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('/finalproject/collection_process/hospital_data_with_external_factors.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143280 entries, 0 to 143279
Data columns (total 33 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   triage_code               143280 non-null  int64
 1   PatientCode               143280 non-null  int64
 2   DischargeFromED           143280 non-null  int64
 3   Foreigners                143280 non-null  object
 4   gender                    143279 non-null  object
 5   age                       143279 non-null  float64
 6   marital_Status            143261 non-null  float64
 7   ResidentDate_year         143280 non-null  int64
 8   ResidentDate_month        143280 non-null  int64
 9   ResidentDate_day          143280 non-null  int64
 10  ResidentDate_weekday      143280 non-null  int64
 11  ResidentDate_hour         143280 non-null  int64
 12  DischargeDate_year        143280 non-null  int64
 13  DischargeDate_month       143280 non-null  int64
 14  DischargeDate_day         143280 non-null  int64
 15  DischargeDate_weekday     143280 non-null  int64
 16  DischargeDate_hour        143280 non-null  int64
 17  StatusOnDischarge         143280 non-null  int64
 18  KindRef                   143280 non-null  int64
 19  IsGlobal                  143279 non-null  float64
 20  AccompainerRelation_id    142490 non-null  float64
 21  ResidentDay               143279 non-null  float64
 22  service_count_action      143280 non-null  int64
 23  service_count_instrument  143280 non-null  int64
 24  service_count_lab         143280 non-null  int64
 25  service_count_graphy      143280 non-null  int64
 26  ResidentDate              143280 non-null  object
 27  temperature_max           143280 non-null  float64
 28  temperature_min           143280 non-null  float64
 29  precipitation             143280 non-null  float64
 30  event_type                40748 non-null   object
 31  pandemic                  15996 non-null   object
 32  disaster                  1749 non-null    object
dtypes: float64(8), int64(19), object(6)
memory usage: 36.1+ MB

In [4]:
df.nunique()

triage_code                 143224
PatientCode                 143280
DischargeFromED                  2
Foreigners                       2
gender                           2
age                            111
marital_Status                   6
ResidentDate_year                6
ResidentDate_month              12
ResidentDate_day                31
ResidentDate_weekday             7
ResidentDate_hour               24
DischargeDate_year               6
DischargeDate_month             12
DischargeDate_day               31
DischargeDate_weekday            7
DischargeDate_hour               1
StatusOnDischarge               11
KindRef                          7
IsGlobal                         2
AccompainerRelation_id          10
ResidentDay                    177
service_count_action             1
service_count_instrument         1
service_count_lab                1
service_count_graphy             1
ResidentDate                  1819
temperature_max                147
temperature_min                118
precipitation                  222
event_type                       2
pandemic                         1
disaster                         3
dtype: int64

In [5]:
df.drop(columns=['triage_code', 'PatientCode'], inplace=True)

In [6]:
df.drop(columns=[
    'service_count_action',
    'service_count_instrument',
    'service_count_lab',
    'service_count_graphy'
], inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143280 entries, 0 to 143279
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   DischargeFromED         143280 non-null  int64
 1   Foreigners              143280 non-null  object
 2   gender                  143279 non-null  object
 3   age                     143279 non-null  float64
 4   marital_Status          143261 non-null  float64
 5   ResidentDate_year       143280 non-null  int64
 6   ResidentDate_month      143280 non-null  int64
 7   ResidentDate_day        143280 non-null  int64
 8   ResidentDate_weekday    143280 non-null  int64
 9   ResidentDate_hour       143280 non-null  int64
 10  DischargeDate_year      143280 non-null  int64
 11  DischargeDate_month     143280 non-null  int64
 12  DischargeDate_day       143280 non-null  int64
 13  DischargeDate_weekday   143280 non-null  int64
 14  DischargeDate_hour      143280 non-null  int64
 15  StatusOnDischarge       143280 non-null  int64
 16  KindRef                 143280 non-null  int64
 17  IsGlobal                143279 non-null  float64
 18  AccompainerRelation_id  142490 non-null  float64
 19  ResidentDay             143279 non-null  float64
 20  ResidentDate            143280 non-null  object
 21  temperature_max         143280 non-null  float64
 22  temperature_min         143280 non-null  float64
 23  precipitation           143280 non-null  float64
 24  event_type              40748 non-null   object
 25  pandemic                15996 non-null   object
 26  disaster                1749 non-null    object
dtypes: float64(8), int64(13), object(6)
memory usage: 29.5+ MB

In [8]:
for col in df.columns:
    print(f"\nValue counts for column: {col}")
    print(df[col].value_counts(dropna=False))  # dropna=False includes NaNs

Value counts for column: DischargeFromED
DischargeFromED
1    72356
0    70924
Name: count, dtype: int64

Value counts for column: Foreigners
Foreigners
No     138092
Yes      5188
Name: count, dtype: int64

Value counts for column: gender
gender
Male      89004
Female    54275
NaN           1
Name: count, dtype: int64

Value counts for column: age
age
30.0     2529
35.0     2498
32.0     2374
33.0     2328
34.0     2328
         ...
111.0       1
NaN         1
108.0       1
104.0       1
106.0       1
Name: count, Length: 112, dtype: int64

Value counts for column: marital_Status
marital_Status
2.0    98090
1.0    42279
4.0     2493
3.0      330
0.0       37
5.0       32
NaN       19
Name: count, dtype: int64

Value counts for column: ResidentDate_year
ResidentDate_year
2019    32572
2018    29060
2021    25852
2017    25617
2020    24281
2022     5898
Name: count, dtype: int64

Value counts for column: ResidentDate_month
ResidentDate_month
7     14226
8     13492
6     12912
5     12454
3     12392
4     11997
9     11886
10    11508
1     11070
11    10732
2     10327
12    10284
Name: count, dtype: int64

Value counts for column: ResidentDate_day
ResidentDate_day
19    4857
7     4815
2     4806
24    4801
26    4796
10    4784
5     4781
28    4778
18    4757
8     4733
17    4725
15    4724
9     4723
23    4716
16    4681
12    4672
13    4672
4     4669
25    4657
21    4652
6     4642
14    4640
11    4621
27    4614
3     4604
1     4601
22    4590
20    4573
29    4424
30    4370
31    2802
Name: count, dtype: int64

Value counts for column: ResidentDate_weekday
ResidentDate_weekday
6    20782
4    20757
3    20562
0    20540
5    20443
2    20211
1    19985
Name: count, dtype: int64

Value counts for column: ResidentDate_hour
ResidentDate_hour
19    9256
22    8852
21    8592
23    8456
20    8314
17    7856
18    7605
16    7322
12    7026
0     6994
15    6805
11    6678
14    6621
13    6297
1     5827
10    5551
2     4478
9     4321
3     4122
8     3230
4     2739
7     2374
5     2146
6     1818
Name: count, dtype: int64

Value counts for column: DischargeDate_year
DischargeDate_year
2019    32556
2018    29089
2021    25661
2017    25271
2020    24481
2022     6222
Name: count, dtype: int64

Value counts for column: DischargeDate_month
DischargeDate_month
7     13992
8     13411
6     12889
5     12644
3     12435
9     11935
10    11723
4     11565
1     10970
11    10734
12    10525
2     10457
Name: count, dtype: int64

Value counts for column: DischargeDate_day
DischargeDate_day
12    4863
24    4803
26    4800
13    4789
7     4788
14    4786
1     4780
8     4776
10    4773
19    4765
16    4752
5     4750
17    4732
15    4731
18    4721
20    4713
2     4701
3     4677
4     4646
9     4644
25    4640
28    4639
11    4607
22    4606
23    4604
27    4595
6     4594
21    4468
29    4451
30    4367
31    2719
Name: count, dtype: int64

Value counts for column: DischargeDate_weekday
DischargeDate_weekday
4    21806
6    21662
3    21173
0    21135
1    21025
2    20746
5    15733
Name: count, dtype: int64

Value counts for column: DischargeDate_hour
DischargeDate_hour
0    143280
Name: count, dtype: int64

Value counts for column: StatusOnDischarge
StatusOnDischarge
2     129728
3       8757
4       2074
5       1071
0        852
8        335
9        247
10       129
7         50
1         34
6          3
Name: count, dtype: int64

Value counts for column: KindRef
KindRef
3    67322
6    54606
5     8771
4     6656
1     4231
2     1536
7      158
Name: count, dtype: int64

Value counts for column: IsGlobal
IsGlobal
0.0    142178
1.0      1101
NaN         1
Name: count, dtype: int64

Value counts for column: AccompainerRelation_id
AccompainerRelation_id
2.0     44800
4.0     21665
3.0     19260
9.0     13135
1.0     10017
6.0      9230
10.0     8054
5.0      7319
7.0      4805
8.0      4205
NaN       790
Name: count, dtype: int64

Value counts for column: ResidentDay
ResidentDay
0.0      49365
1.0      25155
2.0       9896
3.0       9097
4.0       8051
         ...
336.0        1
251.0        1
308.0        1
NaN          1
136.0        1
Name: count, Length: 178, dtype: int64

Value counts for column: ResidentDate
ResidentDate
2017-03-27    131
2021-07-24    129
2021-07-17    127
2021-07-23    127
2017-04-28    122
             ...
2020-11-15      5
2019-12-03      4
2019-03-20      4
2020-01-06      3
2020-02-27      2
Name: count, Length: 1819, dtype: int64

Value counts for column: temperature_max
temperature_max
32.3    2483
28.0    2383
30.3    2321
32.5    2188
28.2    2171
        ...
25.7      63
24.7      61
25.0      61
38.5      52
39.7      52
Name: count, Length: 147, dtype: int64

Value counts for column: temperature_min
temperature_min
26.4    3293
25.2    3293
25.1    3218
26.1    3171
25.9    3042
        ...
30.2      87
18.5      74
17.5      73
19.3      72
19.7      69
Name: count, Length: 118, dtype: int64

Value counts for column: precipitation
precipitation
0.0     53929
0.1      8083
0.2      5440
0.3      4457
0.5      3451
        ...
26.2       31
46.5       26
5.9        25
18.9       24
25.4        5
Name: count, Length: 222, dtype: int64

Value counts for column: event_type
event_type
NaN        102532
Holiday     24936
Sunday      15812
Name: count, dtype: int64

Value counts for column: pandemic
pandemic
NaN           127284
Covid_Wave     15996
Name: count, dtype: int64

Value counts for column: disaster
disaster
NaN                       141531
Heavy Rains & Flooding      1403
Cyclone Ockhi                200
Cyclone Gaja                 146
Name: count, dtype: int64

In [9]:
df.drop(columns=['DischargeDate_hour','IsGlobal'], inplace=True)

In [10]:
df['gender'].fillna(df['gender'].mode()[0], inplace=True)

C:\Users\TottaraDhanush\AppData\Local\Temp\ipykernel_5660\3191725845.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['gender'].fillna(df['gender'].mode()[0], inplace=True)

In [11]:
df['age'].fillna(df['age'].median(), inplace=True)

C:\Users\TottaraDhanush\AppData\Local\Temp\ipykernel_5660\2143548018.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].median(), inplace=True)

In [12]:
df['marital_Status'].fillna(df['marital_Status'].mode()[0], inplace=True)

C:\Users\TottaraDhanush\AppData\Local\Temp\ipykernel_5660\1225764273.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['marital_Status'].fillna(df['marital_Status'].mode()[0], inplace=True)

In [13]:
df['AccompainerRelation_id'].fillna(df['AccompainerRelation_id'].mode()[0], inplace=True)

C:\Users\TottaraDhanush\AppData\Local\Temp\ipykernel_5660\3234197213.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['AccompainerRelation_id'].fillna(df['AccompainerRelation_id'].mode()[0], inplace=True)

In [14]:
df['ResidentDay'].fillna(df['ResidentDay'].median(), inplace=True)

C:\Users\TottaraDhanush\AppData\Local\Temp\ipykernel_5660\2262656001.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ResidentDay'].fillna(df['ResidentDay'].median(), inplace=True)

In [15]:
df['event_type'].fillna('No Event', inplace=True)

C:\Users\TottaraDhanush\AppData\Local\Temp\ipykernel_5660\1565778394.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['event_type'].fillna('No Event', inplace=True)

In [16]:
df['pandemic'].fillna('None', inplace=True)

C:\Users\TottaraDhanush\AppData\Local\Temp\ipykernel_5660\3711227273.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['pandemic'].fillna('None', inplace=True)

In [17]:
df['disaster'].fillna('None', inplace=True)

C:\Users\TottaraDhanush\AppData\Local\Temp\ipykernel_5660\714617741.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['disaster'].fillna('None', inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143280 entries, 0 to 143279
Data columns (total 25 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   DischargeFromED         143280 non-null  int64
 1   Foreigners              143280 non-null  object
 2   gender                  143280 non-null  object
 3   age                     143280 non-null  float64
 4   marital_Status          143280 non-null  float64
 5   ResidentDate_year       143280 non-null  int64
 6   ResidentDate_month      143280 non-null  int64
 7   ResidentDate_day        143280 non-null  int64
 8   ResidentDate_weekday    143280 non-null  int64
 9   ResidentDate_hour       143280 non-null  int64
 10  DischargeDate_year      143280 non-null  int64
 11  DischargeDate_month     143280 non-null  int64
 12  DischargeDate_day       143280 non-null  int64
 13  DischargeDate_weekday   143280 non-null  int64
 14  StatusOnDischarge       143280 non-null  int64
 15  KindRef                 143280 non-null  int64
 16  AccompainerRelation_id  143280 non-null  float64
 17  ResidentDay             143280 non-null  float64
 18  ResidentDate            143280 non-null  object
 19  temperature_max         143280 non-null  float64
 20  temperature_min         143280 non-null  float64
 21  precipitation           143280 non-null  float64
 22  event_type              143280 non-null  object
 23  pandemic                143280 non-null  object
 24  disaster                143280 non-null  object
dtypes: float64(7), int64(12), object(6)
memory usage: 27.3+ MB

In [19]:
for col in df.columns:
    print(f"\nValue counts for column: {col}")
    print(df[col].value_counts(dropna=False))  # dropna=False includes NaNs

Value counts for column: DischargeFromED
DischargeFromED
1    72356
0    70924
Name: count, dtype: int64

Value counts for column: Foreigners
Foreigners
No     138092
Yes      5188
Name: count, dtype: int64

Value counts for column: gender
gender
Male      89005
Female    54275
Name: count, dtype: int64

Value counts for column: age
age
30.0     2529
35.0     2498
32.0     2374
33.0     2328
34.0     2328
         ...
105.0       2
111.0       1
108.0       1
104.0       1
106.0       1
Name: count, Length: 111, dtype: int64

Value counts for column: marital_Status
marital_Status
2.0    98109
1.0    42279
4.0     2493
3.0      330
0.0       37
5.0       32
Name: count, dtype: int64

Value counts for column: ResidentDate_year
ResidentDate_year
2019    32572
2018    29060
2021    25852
2017    25617
2020    24281
2022     5898
Name: count, dtype: int64

Value counts for column: ResidentDate_month
ResidentDate_month
7     14226
8     13492
6     12912
5     12454
3     12392
4     11997
9     11886
10    11508
1     11070
11    10732
2     10327
12    10284
Name: count, dtype: int64

Value counts for column: ResidentDate_day
ResidentDate_day
19    4857
7     4815
2     4806
24    4801
26    4796
10    4784
5     4781
28    4778
18    4757
8     4733
17    4725
15    4724
9     4723
23    4716
16    4681
12    4672
13    4672
4     4669
25    4657
21    4652
6     4642
14    4640
11    4621
27    4614
3     4604
1     4601
22    4590
20    4573
29    4424
30    4370
31    2802
Name: count, dtype: int64

Value counts for column: ResidentDate_weekday
ResidentDate_weekday
6    20782
4    20757
3    20562
0    20540
5    20443
2    20211
1    19985
Name: count, dtype: int64

Value counts for column: ResidentDate_hour
ResidentDate_hour
19    9256
22    8852
21    8592
23    8456
20    8314
17    7856
18    7605
16    7322
12    7026
0     6994
15    6805
11    6678
14    6621
13    6297
1     5827
10    5551
2     4478
9     4321
3     4122
8     3230
4     2739
7     2374
5     2146
6     1818
Name: count, dtype: int64

Value counts for column: DischargeDate_year
DischargeDate_year
2019    32556
2018    29089
2021    25661
2017    25271
2020    24481
2022     6222
Name: count, dtype: int64

Value counts for column: DischargeDate_month
DischargeDate_month
7     13992
8     13411
6     12889
5     12644
3     12435
9     11935
10    11723
4     11565
1     10970
11    10734
12    10525
2     10457
Name: count, dtype: int64

Value counts for column: DischargeDate_day
DischargeDate_day
12    4863
24    4803
26    4800
13    4789
7     4788
14    4786
1     4780
8     4776
10    4773
19    4765
16    4752
5     4750
17    4732
15    4731
18    4721
20    4713
2     4701
3     4677
4     4646
9     4644
25    4640
28    4639
11    4607
22    4606
23    4604
27    4595
6     4594
21    4468
29    4451
30    4367
31    2719
Name: count, dtype: int64

Value counts for column: DischargeDate_weekday
DischargeDate_weekday
4    21806
6    21662
3    21173
0    21135
1    21025
2    20746
5    15733
Name: count, dtype: int64

Value counts for column: StatusOnDischarge
StatusOnDischarge
2     129728
3       8757
4       2074
5       1071
0        852
8        335
9        247
10       129
7         50
1         34
6          3
Name: count, dtype: int64

Value counts for column: KindRef
KindRef
3    67322
6    54606
5     8771
4     6656
1     4231
2     1536
7      158
Name: count, dtype: int64

Value counts for column: AccompainerRelation_id
AccompainerRelation_id
2.0     45590
4.0     21665
3.0     19260
9.0     13135
1.0     10017
6.0      9230
10.0     8054
5.0      7319
7.0      4805
8.0      4205
Name: count, dtype: int64

Value counts for column: ResidentDay
ResidentDay
0.0      49365
1.0      25156
2.0       9896
3.0       9097
4.0       8051
         ...
128.0        1
261.0        1
251.0        1
308.0        1
136.0        1
Name: count, Length: 177, dtype: int64

Value counts for column: ResidentDate
ResidentDate
2017-03-27    131
2021-07-24    129
2021-07-17    127
2021-07-23    127
2017-04-28    122
             ...
2020-11-15      5
2019-12-03      4
2019-03-20      4
2020-01-06      3
2020-02-27      2
Name: count, Length: 1819, dtype: int64

Value counts for column: temperature_max
temperature_max
32.3    2483
28.0    2383
30.3    2321
32.5    2188
28.2    2171
        ...
25.7      63
24.7      61
25.0      61
38.5      52
39.7      52
Name: count, Length: 147, dtype: int64

Value counts for column: temperature_min
temperature_min
26.4    3293
25.2    3293
25.1    3218
26.1    3171
25.9    3042
        ...
30.2      87
18.5      74
17.5      73
19.3      72
19.7      69
Name: count, Length: 118, dtype: int64

Value counts for column: precipitation
precipitation
0.0     53929
0.1      8083
0.2      5440
0.3      4457
0.5      3451
        ...
26.2       31
46.5       26
5.9        25
18.9       24
25.4        5
Name: count, Length: 222, dtype: int64

Value counts for column: event_type
event_type
No Event    102532
Holiday      24936
Sunday       15812
Name: count, dtype: int64

Value counts for column: pandemic
pandemic
None          127284
Covid_Wave     15996
Name: count, dtype: int64

Value counts for column: disaster
disaster
None                      141531
Heavy Rains & Flooding      1403
Cyclone Ockhi                200
Cyclone Gaja                 146
Name: count, dtype: int64

In [21]:
df.to_csv('/finalproject/cleaning_process/hospital_data_cleaned.csv', index=False)